@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: ClearSansRegular;
  src: url("../fonts/ClearSans-Regular.ttf");
}
@font-face {
  font-family: ClearSansBold;
  src: url("../fonts/ClearSans-Bold.ttf");
}
body {
  width: 100%;
  background-color: #f8f8f8;
}

.header {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #dcdcdc;
  background-color: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.11);
  z-index: 5;
}
.header__wrapper {
  display: block;
  position: relative;
  width: 980px;
  margin: 0 auto;
  text-align: justify;
}
.header__logo {
  display: inline-block;
  width: 245px;
  height: 67px;
  background-image: url("../img/logo.png");
  margin: 8px 0 0 42px;
}
.header__profile {
  display: inline-block;
  float: right;
  height: 44px;
  line-height: 44px;
  margin-top: 20px;
}
.header__link {
  display: inline-block;
  font: 12px/12px ClearSansRegular, sans-serif;
  color: #121015;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 20px;
}
.header__link span {
  display: inline-block;
  position: relative;
  width: 22px;
  height: 22px;
  text-align: center;
  font: 12px/22px ClearSansRegular, sans-serif;
  color: #ffffff;
  background-color: #ffac00;
  border-radius: 2px;
  margin-left: 10px;
}
.header__link span:before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: -4px;
  margin-top: -2px;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #ffac00;
}
.header__link:hover {
  color: #9e9d9a;
}
.header__profile-photo {
  display: block;
  width: 44px;
  height: 44px;
  float: right;
}

.content__wrapper {
  width: 980px;
  height: 1185px;
  margin: 0 auto;
}

.menu {
  display: inline-block;
  position: relative;
  width: 240px;
  height: 995px;
  background-color: #efefef;
  padding-top: 185px;
  vertical-align: top;
  overflow: hidden;
}
.menu__item-wrapper {
  display: block;
  position: relative;
  width: 100%;
  height: 41px;
  cursor: pointer;
}
.menu__item-wrapper:hover span {
  color: #9e9d9a;
}
.menu__item-wrapper.js-active-page {
  background: #ffffff;
  border-left: 3px solid #ffac00;
  box-shadow: 0 2px 0 2px -2px rgba(0, 0, 0, 0.08);
}
.menu__item-wrapper.js-active-page > span {
  border: none;
  color: #9e9d9a;
  margin-left: 61px;
}
.menu__item {
  display: block;
  margin-left: 64px;
  border-bottom: 1px solid #dddddd;
  font: 12px/40px ClearSansRegular, sans-serif;
  color: #121015;
  text-transform: uppercase;
}

.container {
  display: inline-block;
  width: 738px;
  background-color: #ffffff;
  vertical-align: top;
  border: 1px solid #e1e1e1;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.07);
}
.container__title {
  display: block;
  padding: 90px 0 0 20px;
  font: 36px/85px ClearSansRegular, sans-serif;
  color: #121015;
}
.container__menu {
  display: block;
  height: 60px;
  background-color: #ffb211;
}
.container__menu-item {
  display: inline-block;
  height: 100%;
  cursor: pointer;
}
.container__menu-item:last-child {
  border: none;
}
.container__menu-item:hover, .container__menu-item.js-active {
  box-shadow: inset 0 -3px 0 0 #ffffff;
}
.container__menu-item.js-active .container__menu-text {
  color: #ffffff;
}
.container__menu-text {
  display: inline-block;
  margin-top: 24px;
  padding: 0 20px;
  border-right: 1px solid #c99017;
  font: 14px/14px ClearSansRegular, sans-serif;
  color: #121015;
}
.container__menu-text strong {
  color: #ffffff;
}
.container__search {
  display: block;
  position: relative;
  float: right;
  width: 175px;
  height: 34px;
  font: 12px/35px ClearSansRegular, sans-serif;
  color: #121015;
  margin: 13px 15px 0 0;
}
.container__search span {
  display: inline-block;
  width: 99px;
  height: 34px;
  background: #ffffff;
  color: #9e9d9a;
  border-radius: 18px;
  padding: 0 8px 0 11px;
  margin-left: 12px;
  cursor: pointer;
}
.container__search span:hover {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
}
.container__search i {
  display: block;
  float: right;
  width: 20px;
  height: 20px;
  margin: 6px 0 0 0;
  background: url("../img/search-arrow.png") center no-repeat, #f8f8f8;
  border-radius: 50%;
  border: 1px solid #d8d8d8;
}
.container__search-form {
  display: none;
  width: 275px;
  height: 200px;
  padding: 30px 30px 20px;
  background: #ffffff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 4px;
  border-radius: 3px;
}
.container__search-form:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  bottom: 100%;
  right: 21px;
  border-top: 4px solid transparent;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #ffffff;
}
.container__search-row {
  display: block;
  position: relative;
  height: 34px;
  margin-top: 10px;
}
.container__search-text {
  display: inline-block;
  width: 74px;
  padding: 0;
  margin: 0;
  font: 12px/34px ClearSansRegular, sans-serif;
  color: #121015;
  text-transform: uppercase;
}
.container__search-input {
  display: inline-block;
  width: 166px;
  height: 32px;
  padding: 0 14px;
  border-radius: 17px;
  border: 1px solid #d8d8d8;
  color: #84837f;
}
.container__search-submit {
  display: block;
  float: right;
  width: 143px;
  height: 36px;
  background: #ffb211;
  font: 12px/34px ClearSansRegular, sans-serif;
  color: #121015;
  border: none;
  border-radius: 3px;
  margin-top: 20px;
}
.container__search-submit:hover {
  background: #fcc551;
}
.container__pages {
  display: block;
  height: 44px;
  border-top: 1px solid #e8e8e8;
  text-align: center;
}
.container__pager {
  display: inline-block;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  border: 2px solid #e7e7e7;
  margin: 9px 10px;
  cursor: pointer;
}
.container__pager_prev {
  background: url("../img/nav-arrow-left.png") center no-repeat;
}
.container__pager_next {
  background: url("../img/nav-arrow-right.png") center no-repeat;
}
.container__page {
  display: inline-block;
  width: 42px;
  height: 100%;
  border-left: 1px solid #f0f0f0;
  vertical-align: top;
  font: 13px/44px ClearSansRegular, sans-serif;
  color: #9e9d9a;
  text-align: center;
  cursor: pointer;
}
.container__page_last {
  border-right: 1px solid #f0f0f0;
}
.container__page.js-page-active {
  color: #121015;
}
.container__users {
  height: 885px;
  text-align: left;
  padding: 18px 19px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}

.user {
  width: 132px;
  height: 218px;
}
.user:hover .user__photo-wrapper {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
}
.user__photo-wrapper {
  display: block;
  width: 132px;
  height: 130px;
  border: 1px solid #ebebeb;
  border-radius: 3px;
}
.user__photo {
  width: 120px;
  height: 120px;
  margin: 5px;
}
.user__name {
  display: block;
  padding-top: 5px;
  font: 14px/27px ClearSansBold, sans-serif;
  color: #ffac00;
}
.user__name span {
  color: #121015;
}
.user__country {
  display: block;
  font: 12px/14px ClearSansRegular, sans-serif;
  color: #9e9d9a;
}
.user__quantity {
  display: block;
  font: 12px/14px ClearSansRegular, sans-serif;
  color: #121015;
}

#minCost, #maxCost {
  position: absolute;
  top: -8px;
  width: 31px;
  height: 15px;
  background: #d7d7d7;
  color: #121015;
  font: 12px/15px ClearSansRegular, sans-serif;
  border: none;
  text-align: center;
  border-radius: 3px;
}

#maxCost {
  right: 0;
}

#slider {
  display: inline-block;
  width: 196px;
  background: #d7d7d7;
}

.ui-slider {
  position: relative;
}

.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 9px;
  height: 9px;
  background: #ffb211;
  cursor: pointer;
  border: 3px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
  padding: 0;
}

.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  overflow: hidden;
}

/* горизонтальный слайдер (сама полоса по которой бегает ползунок) */
.ui-slider-horizontal {
  height: 3px;
  /* задаем высоту согласно дизайна */
}

/* позиционируем ползунки */
.ui-slider-horizontal .ui-slider-handle {
  top: -7px;
  margin-left: -6px;
}

.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}

.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}

.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}

/* оформление полосы по которой ходит ползунок */
.ui-widget-content {
  background: #fff;
}

/* оформление активного участка (между двумя ползунками) */
.ui-widget-header {
  border: 1px solid #D4D4D4;
  background: #ffb211;
}

/* скругление для полосы слайдера */
.ui-corner-all {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.footer {
  height: 95px;
  background: #3d3c3c;
  margin-top: 95px;
}
.footer__wrapper {
  width: 980px;
  margin: 0 auto;
  line-height: 95px;
}
.footer__copy {
  font: 12px/12px ClearSansRegular, sans-serif;
  color: #ffffff;
  vertical-align: middle;
  padding: 0 50px 0 63px;
}
.footer__link {
  font: 12px/12px ClearSansRegular, sans-serif;
  color: #939393;
  margin-right: 50px;
  text-decoration: none;
}
.footer__link:hover {
  color: #ffffff;
}
.footer__social {
  display: inline-block;
  width: 33px;
  height: 33px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 5px;
  opacity: 0.2;
}
.footer__social_fb {
  background: url("../img/ico-fb.png") center no-repeat;
  margin-left: 67px;
}
.footer__social_twit {
  background: url("../img/ico-twit.png") center no-repeat;
}
.footer__social_g {
  background: url("../img/ico-g.png") center no-repeat;
}
.footer__social:hover {
  opacity: 1;
}
